{{ partial "contents_head.html" . }}

<!-- Space delimited list of page types -->
{{ $paginator := .Paginate (where .Data.Pages "Type" "in" "projects") }}

<div class="posts">
  {{ range .Paginator.Pages }}
      <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <span class="post-date">
        {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
      </span>
  {{ end }}
</div>

<!-- <div class="pagination"> -->
<!--   {{ if $paginator.HasNext }} -->
<!--   <a class="pagination-item older" href="{{ $paginator.Next.URL }}">Older</a> -->
<!--   {{ else }} -->
<!--   <span class="pagination-item older">Previous</span> -->
<!--   {{ end }} -->

<!--   {{ if $paginator.HasPrev }} -->
<!--   <a class="pagination-item newer" href="{{ $paginator.Prev.URL }}">Newer</a> -->
<!--   {{ else }} -->
<!--   <span class="pagination-item newer">Next</span> -->
<!--   {{ end }} -->
<!-- </div> -->

{{ partial "default_foot.html" . }}
