{{ partial "contents_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  {{ .Content }}
</div>

<!-- {{ template "_internal/disqus.html" . }} -->

{{ partial "default_foot.html" . }}
