{{ partial "contents_head.html" . }}

<div class="post">
  <h1 class="post-title">{{ .Title }}</h1>
  <span class="post-date">
    posted on {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Date.Format }}
    {{ if ne .Date .Lastmod }}
    &middot;
    last updated on {{ .Site.Params.DateForm | default "Jan 2, 2006" | .Lastmod.Format }}
    {{ end }}
  </span>
  {{ .Content }}
</div>

{{ template "_internal/disqus.html" . }}

{{ partial "default_foot.html" . }}
