<!DOCTYPE html>
<html lang="en-us">

  {{ partial "head.html" . }}

  <body>

    {{ partial "sidebar.html" . }}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h1 class="masthead-title">
            {{ if .IsHome }}
            <a class="home" href="/">{{ .Site.Params.Title }} |
              {{ .Site.Params.Tagline }}</a>
            {{ else }}
            <a class="home" href="/">{{ .Title }} | {{ .Site.Params.Title }}</a>
            {{ end }}
            <!-- <a class="home" href="/">{{ .Site.Params.Title }}</a> -->
          </h1>
        </div>
      </div>

      <div class="container content">
