<head>
  <!-- <link href="http://gmpg.org/xfn/11" rel="profile"> -->
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- {{ template "_internal/google_analytics.html" . }} -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-Y46MV2WEH6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-Y46MV2WEH6');
  </script>

  <title>
    {{ if .IsHome }}
      {{ .Site.Params.Title }} | {{ .Site.Params.Tagline }}
    {{ else }}
      {{ .Title }} | {{ .Site.Params.Title }}
    {{ end }}
  </title>

  <!-- default css -->
  <link rel="stylesheet" href="/css/poole.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/lanyon.css">
  <!-- fonts -->
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
  <!-- fontawesome -->
  <link rel="stylesheet"
        href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
        integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">
  <!-- academicons -->
  <link rel="stylesheet"
        href="/academicons-1.8.6/css/academicons.min.css">
  <!-- custom css -->
  <link rel="stylesheet" href="/css/custom.css">

  <!-- Icons -->
  <link rel="shortcut icon" href="/img/favicon.png">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
