<!DOCTYPE html>
<html lang="en-us">

  {{ partial "head.html" . }}

  <body>

    {{ partial "sidebar.html" . }}

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h1 class="masthead-title">
            <a class="home" href="{{ .Permalink }}">{{ .Title }}</a>
          </h1>
        </div>
      </div>

      <div class="container content">
