<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox"
       class="sidebar-checkbox"
       id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    {{ .Site.Params.sidebar.head | markdownify }}
  </div>

  {{ partial "sidebar-nav.html" . }}

  <div class="sidebar-item">
    {{ range .Site.Menus.social.ByWeight }}
    <a class="social-icon" href="{{ .URL }}" target="_blank">{{ .Pre }}</a>
    {{ end }}

    <br/><br/>
    <p>
      &copy; {{ now.Format "2006" }} {{ .Site.Copyright }}.
      <br/>All rights reserved.
    </p>

  </div>

</div>
