<nav class="sidebar-nav">

  {{ $currentPage := . }}
  {{ range .Site.Menus.main.ByWeight }}
  {{ if .HasChildren }}
  <!-- may need updating if .HasChildren -->
  <a class="sidebar-nav-item{{ if $currentPage.IsMenuCurrent "main" . }} active {{ end }}"
     href="#">{{ .Pre }}{{ .Name }}
  </a>
  <ul class="sub-menu">
    {{ range .Children }}
    <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
      <a class="sidebar-nav-item" href="{{ .URL }}">{{ .Name }}</a>
    </li>
    {{ end }}
  </ul>
  {{ range .Children }}
  {{ end }}
  <!-- else: no child menu -->
  {{ else }}
  <a class="sidebar-nav-item{{ if eq $currentPage.RelPermalink .URL }} active {{ end }}"
     href="{{ .URL }}">{{ .Name }}</a>
  {{ end }}
  {{ end }}

</nav>
